[submodule ".\\external\\Tracy"]
	path = .\\external\\Tracy
	url = https://github.com/wolfpld/tracy.git

[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
